/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  /* background-color: #525252; */
  background: linear-gradient(147.52deg, #f9fafb 8.89%, #d2d6db 100.48%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 812px;
  padding-top: 200px;


}


.testimonial-card {
  width: 340px;
  background-color: #ffffff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.author-image{
  width: 48px;
  height: 48px;
}

.author-info-header {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.author-name {
font-size: 18px;
font-weight:600;
color: #171717;
}

.author-userName {
font-size: 14px;
font-weight: 400;
color: #525252;
}


.testimonial-card-content p {
  font-size: 16px;
  font-weight: 400;
  color: #525252;
}
